/* eric meyers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/*  my css */
html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    border:1px dotted red;
    max-width: 100%;
    width: 100%;
}

body{
    font-size: 1.6rem;
    background-image: url(../images/cam-fattahi-X9T9nbaetgM-unsplash.jpg);
}
.content{
    
    font-family: fantasy;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    
}


/* header */
header{
    display: flex;
    flex-direction: column;
}
.firstline, .secondline{
    display: flex;
}
.firstline{
    justify-content: center;
}
.meatballs{
    align-self: flex-start;
}
.secondline{
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    width: 98%;
}
.navbutton{
    width: 15%;
    text-align: center;
    background-color: red;
    padding: 1%;
    margin: 1%;
}

/* big box area */
.bigbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigbox div{
    width: 80%;
    padding-top: 50.25%;
    background-position: center;
    background-size: 100% 100%;
    max-height: 50%;
    background-image: url(../images/steve-barker-y-ShhXIj_kU-unsplash.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* content rows */

.lowerhalf{
    display: flex;
    flex-direction: column;

}
.boxset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1% 2%;
    width:33%;
    text-align: center;
    height: 100%;
}
.emptyimg{
    width: 100%;
    padding-top: 100%;
    position: relative;
    object-fit: fill;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-image: url(../images/donny-jiang-qfJWNJ8HPkQ-unsplash.jpg);
}
.firstrow{
    display: flex;
    justify-content: space-between;
}
.secondrow{
    display: flex;
    justify-content: space-between;
}

/* footer */
footer{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}